@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #2563EB;
}

.logo {
    display: block;
    width: 300px;
    margin: 20px auto;
  
}

.img-logo {
    width: 100px;
    
}

.img-logo:hover {
    transform: scale(1.2);
}

.img-usa {
    width: 150px;
}

.img-usa:hover {
    transform: scale(1.2);
}

.img-arrow {
    width: 100px;
    margin: 15px 0;
}



main {
    width: 400px;
    border-radius: 28px;
    background-color: #e0dbdb;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;

}

label {
    color: #363333;
    font-weight: 400;
    font-size: 14px;
}

select, input {
    background-color: #fff;
    border: 1px solid #888888;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

button {
    background-color: #2563EB;
    width: 100%;
    border: none;
    height: 48px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
    background-color: #2960d8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 2px solid #2563EB;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color: #777777;
    font-size: 14px;
}

.currency-value {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}